{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="row white-bg-margin">
        <div class="col-md-6 col-md-offset-3">
            <div class="bg-container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <span class="big-title">鱼 书</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 flex-vertical input-margin">
                        <p style="color: red">{{ msg }}</p>
                        <form action="{% url 'user:change_password' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="uid" value="{{ request.user.id }}">
                            <input id="old_password" name="old_password" type="password"
                                   placeholder="原密码"
                                   class="form-control none-input"/>
                            <input id="new_password1" name="new_password1" type="password"
                                   placeholder="新密码"
                                   class="form-control none-input"/>
                            <input id="new_password2" name="new_password2" type="password"
                                   placeholder="请确认新密码"
                                   class="form-control none-input"/>
                            <input style="margin-top:15px;" id="btn-submit"
                                   type="submit"
                                   class="btn btn-big btn-block" value="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        function check(){
            var textflag = true;
            if ($("#old_password").val()==''){
                textflag = false;
            }
            if ($("#new_password1").val()==''){
                textflag = false;
            }
            if ($("#new_password2").val()==''){
                textflag = false;
            }
            var pwdreg = /^\w{6,16}/;
            if(pwdreg.test($("#new_password1").val())==false){
                alert('密码格式不正确！');
                textflag = false;
                //return false;
            }

            if($("#new_password1").val() != $("#new_password2").val()){
                alert('两次密码不一致！');
                textflag = false;
                //return false;
            }
            return textflag
        }
        $("#old_password").blur(function () {
                console.log('失去焦点');
                if($(this).val()==''){
                    alert('旧密码不能为空！');
                    return false;
                }
            });

        $("#new_password1").blur(function () {
                console.log('失去焦点');
                var passwordNUm = $(this).val();
                var reg = /^\w{6,16}/;
                if(reg.test(passwordNUm)==false){
                    alert('密码格式不正确！');
                    return false;
                }
            });
        $("#new_password2").blur(function () {
            console.log('失去焦点');
            if($("#new_password1").val() != $(this).val()){
                alert('两次密码不一致！');
                return false;
            }
        })
    </script>
{% endblock %}
