{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="row white-bg-margin">
        <div class="col-md-6 col-md-offset-3">
            <div class="bg-container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <span class="big-title">鱼 书</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 flex-vertical personal-detail">
                        <form action="{% url 'user:forget_password1' %}" method="post" onSubmit="return check();">
                            {% csrf_token %}
                            <input style="width:100%" name="password1" type="password", id="password"
                                   placeholder="新密码"
                                   class="none-input"/>
                            <input style="width:100%" name="password2" type="password" id="repassword"
                                   placeholder="请确认密码"
                                   class="none-input"/>
                            <input style="width:100%;margin-top:15px;" type="submit"
                                   class="btn btn-big btn-block" value="找回密码">
                            <span style="display: none" name="code">{{ code1 }}</span>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        function check(){
            var textflag = true;
            if ($("#password").val()==''){
                textflag = false;
            }
            if ($("#repassword").val()==''){
                textflag = false;
            }
            var pwdreg = /^\w{6,16}/;
            if(pwdreg.test($("#password").val())==false){
                alert('密码格式不正确！');
                textflag = false;
                //return false;
            }

            if($("#password").val() != $("#repassword").val()){
                alert('两次密码不一致！');
                textflag = false;
                //return false;
            }
            return textflag
        }
        $("#password").blur(function () {
                console.log('失去焦点');
                var passwordNUm = $(this).val();
                var reg = /^\w{6,16}/;
                if(reg.test(passwordNUm)==false){
                    alert('密码格式不正确！');
                    return false;
                }
            });
        $("#repassword").blur(function () {
            console.log('失去焦点');
            if($("#password").val() != $(this).val()){
                alert('两次密码不一致！');
                return false;
            }
        })
    </script>
{% endblock %}
